*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.update{
    height: 100vh;
    width: 100vw;
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.u_form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.u_btn{
    background-color: #2bbe60;
}

.u_input{
    font-size: 22px;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.u_btn{
    padding: 8px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #2bbe60;
}

.error-message{
    background-color: rgb(246, 167, 167);
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
}