<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Candidate Interview</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
</head>

<body>
  <div class="nav">
    <h1 class="nav_title"><a class="nav_title_prefix" href="/">Funnel<span class="title_text">HQ</span></a></h1>
    <div class="nav_right">
      <a href="{{ url_for('routes.logout') }}"><button class="btn">Logout</button></a>
      <a href="/profile/{{ current_user.id }}">
        {% if current_user.profile_picture_filename and user.profile_picture_filename|length > 10 %}
            <img class="nav_img" src="../static/{{ current_user.profile_picture_filename }}" alt="">
        {% else %}
            <img class="nav_img" src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png" alt="">
        {% endif %}
      
      </a>
    </div>
  </div>

  <div class="home">

    {% if current_user.is_authenticated %}
    <!-- <p >Welcome, {{ current_user.name }}!</p> -->

    <div class="d_title">
      <h1>Candidate <span class="interview_text">Interview</span></h1>
    </div>
    
    <div class="user_info">
      <label class="user_info_input" for="candidateName">Your Name: <span id="candidateName">{{ current_user.name }}</span></label>
      <p class="user_info_input">Applied Job Role: <span id="appliedJobRole">{{ current_user.applied_job_role }}</span></p>
    </div>
    
    <button class="role_input_btn" id="startInterview">Start Interview</button>
    
    <div class="q_down">

      <h2 class="showcase_title">Question Showcase</h2>
      <div class="q_container" id="questionContainer">
        <p class="q_text" id="question"></p>
        <textarea class="response_textarea" id="response" placeholder="Your response..."></textarea>
        <button class="role_input_btn" id="nextQuestion">Next Question</button>
      </div>
    </div>

    <button class="role_input_btn" id="startSpeech">Start Speaking</button>

    {% else %}
    <p>Please <a href="{{ url_for('routes.login') }}">log in</a> to access this page.</p>
    {% endif %}
  </div>
    
    <script>
      let questionId = 1;
        let jobRole = '';
    
        function fetchQuestion() {
          fetch(`/get_question/${jobRole}?question_id=${questionId}`)
                .then(response => response.json())
                .then(data => {
                  const questionElement = document.getElementById('question');
                  if (data.question) {
                        questionElement.innerText = data.question;
                        questionId++;
                    } else {
                        questionElement.innerText = 'No more questions available';
                        document.getElementById('nextQuestion').disabled = true;
                      }
                    })
                .catch(error => console.error('Error:', error));
              }
    
        document.getElementById('nextQuestion').addEventListener('click', function () {
          const response = document.getElementById('response').value;
          const candidateName = document.getElementById('candidateName').innerText;
    
            const payload = {
                candidate_name: candidateName,
                question_id: questionId - 1,
                response: response
            };
            
            fetch('/submit_response', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                  },
                body: JSON.stringify(payload)
            })
                .then(response => response.json())
                .then(data => {
    
                })
                .catch(error => {
                  console.error('Error:', error);
                });
    
            fetchQuestion();
          });
    
        document.getElementById('startInterview').addEventListener('click', function () {
          questionId = 1;
          const candidateName = document.getElementById('candidateName').innerText;
          jobRole = document.getElementById('appliedJobRole').innerText;
          console.log(candidateName);
          console.log(jobRole);
            fetchQuestion();
        });
    
        const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        const recognition = new SpeechRecognition();
        recognition.lang = 'en-US';
    
        let isListening = false;
    
        document.getElementById('startSpeech').addEventListener('click', function () {
            if (!isListening) {
                recognition.start();
                isListening = true;
                document.getElementById('startSpeech').innerText = 'Stop Speaking';
            } else {
              recognition.stop();
              isListening = false;
                document.getElementById('startSpeech').innerText = 'Start Speaking';
            }
        });
    
        recognition.onresult = function (event) {
            const transcript = event.results[0][0].transcript;
            const responseTextarea = document.getElementById('response');
            responseTextarea.value += transcript;
          };
          
          recognition.onerror = function (event) {
            console.error('Speech recognition error:', event.error);
            isListening = false;
            document.getElementById('startSpeech').innerText = 'Start Speaking';
          };
          
          recognition.onend = function () {
            isListening = false;
            document.getElementById('startSpeech').innerText = 'Start Speaking';
          };
          </script>
    </body>

    </html>