<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HR bot - Login</title>
    <link rel="stylesheet" href="../static/css/login.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-GLhlTQ8iKSe1N6IbN99OpPT0082r/jLl+5Ar5ZheBUyL2BEK++XWnMWVCXaUrlcl" crossorigin="anonymous">

  </head>
  <body>
      <div class="login">
        <div class="l_right">
          <div class="l_right_hr">

          </div>
        </div>
      <div class="l_left">
        <div class="l_left_title">
            <h2 class="l_left_title_heading">Welcome back</h2>
            <p class="l_left_title_desc">Enter your email and password to access your account</p>
        </div>
        <form class="l_form" action="{{ url_for('routes.login') }}" method="POST">
          <div class="l_email">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control l_input" name="email" id="email" placeholder="Enter your email" />
          </div>
          <div class="l_password">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control l_input"
              name="password"
              id="password"
              placeholder="Enter your password"
            />
          </div>
          <div class="l_reminder">
            <span class="l_reminder_left"><input type="checkbox" name="" id=""> Remember me</span>
            <a class="l_reminder_right" href="">Forgot Password?</a>
          </div>
          <button type="submit" class="l_btn">Login</button>
        </form>
        <div class="l_down">
            <div >
                Don't have an account? <a class="l_down_signup" href="{{ url_for('routes.register') }}" >Signup</a>
            </div>
            <div class="l_down_options">
                <box-icon style="color: #323782; background-color: #DEE0FF; width: 50px;height: 50px;padding: 13px;cursor:pointer;" type='logo' name='google'></box-icon>
                <box-icon style="color: #323782; background-color: #DEE0FF; width: 50px;height: 50px;padding: 13px;cursor:pointer;" name='globe'></box-icon>
                <box-icon style="color: #323782; background-color: #DEE0FF; width: 50px;height: 50px;padding: 13px;cursor:pointer;" name='code-alt' ></box-icon>
                <box-icon style="color: #323782; background-color: #DEE0FF; width: 50px;height: 50px;padding: 13px;cursor:pointer;" type='logo' name='linkedin'></box-icon>
            </div>
        </div>
        
      </div>
    </div>
</body>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</html>