<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>HR bot - Signup</title>
      <link rel="stylesheet" href="../static/css/signup.css">
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="signup">
        <div class="s_right">
          <div class="s_right_hr">
            
          </div>
        </div>
      <div class="s_left">
        <div class="s_left_title">
            <h2 class="s_left_title_heading">Sign Up</h2>
            <p class="s_left_title_desc">Fill the details to create your account</p>
        </div>
        <form class="s_form" action="{{ url_for('routes.register') }}" method="POST">
            <div class="s_email">
                <label class="s_email_label" for="email">Email:</label>
                <input class="s_input" type="email" name="email" required>
            </div>
            <div class="s_password">
                <label class="s_email_label" for="password">Password:</label>
                <input class="s_input" type="password" name="password" required>
            </div>
            <div class="s_email">
                <label class="s_email_label" for="name">Name:</label>
                <input class="s_input" type="text" name="name" required>
            </div>
            <div class="s_email">
                <label class="s_email_label" for="role">Select Role:</label>
                <select class="s_input s_select" style="height: 40px; width: 538px;" name="role" id="role" onchange="toggleJobRoleField()">
                    <option value="candidate">Candidate</option>
                    <option value="hr">HR</option>
                </select>
            </div>
            <div id="appliedJobRoleField" class="s_email">
                <label class="s_email_label" for="applied_job_role">Applied Job Role:</label>
                <input class="s_input" type="text" name="applied_job_role" required>
            </div>
            <div class="s_reminder">
                <span class="l_reminder_left"><input type="checkbox" name="" id=""> Remember me</span>
                <a class="l_reminder_right" href="">Forgot Password?</a>
              </div>
            <script>
                // Set the initial state of the appliedJobRoleField
                document.getElementById('appliedJobRoleField').style.display = 'block';

                function toggleJobRoleField() {
                    var roleDropdown = document.getElementById('role');
                    var appliedJobRoleField = document.getElementById('appliedJobRoleField');

                    appliedJobRoleField.style.display = roleDropdown.value === 'hr' ? 'none' : 'block';
                }
            </script>
          <button type="submit" class="s_btn">Get Started</button>
        </form>
        <div>
          <span>Already have an account?  </span
            ><a class="s_down_login" href="{{ url_for('routes.login') }}">LogIn</a>
          </div>
      </div>
    </div>
  </body>
</html>
